@import url("//unpkg.com/element-ui@2.14.0/lib/theme-chalk/index.css");

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
}

header {
    background: #232f3e;
}

.header__top a {
    color: white;
    font-family: 'Grandstander', cursive;
    line-height: 45px;
    font-size: 13px;
    font-weight: normal;
}

.header__top .left__info__block a .fa-phone-alt {
    font-size: 14px;
}

.header__top .right__info__block ul {
    display: flex;
    justify-content: space-between;
}

.header__top .left__info__block {
    width: 60%;
}

.header__top .right__info__block {
    width: 40%;
}

.header__middle {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    justify-content: space-between;
}

.header__middle input[type=text] {
    font-family: 'Poppins', sans-serif;
    padding: 6px 11px;
    width: 80%;
    border-radius: 5px 0px 0px 5px;
    border: none;
    outline: none;
}

.header__middle input[type=text]:focus {
    background-color: rgb(216, 213, 213);
}

.header__middle input[type=button] {
    font-family: 'Poppins', sans-serif;
    padding: 6px 11px;
    width: 15%;
    font-size: 12px;
    text-transform: uppercase;
    background: #dc1373;
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 0 20px;
    min-width: 128px;
    border-radius: 0 3px 3px 0;
    -webkit-transition: .3s;
    transition: .3s;
}

#button__badge {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

#button__badge:hover {
    background: #dc1373;
    color: #fff;
    display: flex;
    border: 1px solid #dc1373;
    align-items: center;
    justify-content: center;
}

.el-badge:nth-child(1) {
    right: 15px;
}

.searchbar {
    border-radius: 8px;
    display: flex;
    width: 45%;
}

.el-badge__content {
    background-color: rgb(238, 44, 44);
    height: 18px;
    border: none;
    line-height: 18px;
}


/* font-family: 'Grandstander', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Ubuntu', sans-serif; */

.header_bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_bottom .right_side {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center
}
.header_bottom .right_side .bottom-links {
    color: #fff;
    padding: 10px 10px;
    display: inline-block;
}


/* header bottom dropdown section  */

.dropdown_menu-left{
    position: absolute;
    display: none;
    top: 55px;
    transform-origin: top center;
    left: 0;
    perspective: 1000px;
    animation: growDown 700ms ease-in-out forwards;
    z-index: 2;
}
.dropdown-left:hover .dropdown_menu-left{
    display: block;
}
.dropdown_menu-left a:first-child{
    padding: 0;
}
.drop-btn{
    padding: 15px 0;
    display: inline-block;
}
.dropdown_menu-left a{
    display: block;
    color: white;
    padding: 15px 40px 15px 15px;
    background: #232f3e;
    font-family: Ubuntu;
    text-transform: capitalize;
}

.dropdown_menu-left a:hover{
    background: #232b35;
    transition: 0.4s;
}


.dropdown_menu {
    position: absolute;
    top: 30%;
    left: 0;
    z-index: 2;
    perspective: 1000px;
    display: none;
    animation: downOut 300ms ease-in-out forwards;
    transform-origin: center center;
}
.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown-menu-left{
    position: absolute;
    bottom: 0;
}
.dropdowbn_btn .fa-bars{
    margin-left: 15px;

}
.dropdown_menu a{
    display: block;
    color: #fff;
    font-family: Ubuntu;
    width: max-content;
    padding: 15px 40px 15px 15px;
    background: #232f3e;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.dropdown_menu a:hover{
    background: #232b35;
    transition: 0.4s;
}
.dropdown_menu a:nth-child(2){
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.dropdown_menu a:nth-child(6){
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.dropdown .dropdowbn_btn{
    color: #fff;
    font-family: Ubuntu;
    display: flex;
    align-items: center;
    padding:  15px 0 ;
    display: inline-block;
}
.dropdown:hover .dropdown_menu--animated {
    display: block;
}
.dropdown:hover .dropdown_menu.column {
    display: block;
}
.dropdown_menu--animated .fa-caret-right{
    margin-left: 15px;
}
.dropdown_menu--animated a:hover .fa-caret-right{
    transform: translateX(7px);
    transition: 0.4s all ease-in-out;
}
.site_main{
    padding-top: 15px;
}
.owl-carousel img{
    width: 1200px;
    height: 500px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}



/* animation  */
@-moz-keyframes downOut {
    0% {
        transform: translateZ(200px) transLateY(40px);
    }

    80% {
        transform: translateZ(-10px) transLateY(0px);
    }

    100% {
        transform: translateZ(0px) transLateY(0px);
    }
}

@-webkit-keyframes downOut {
    0% {
        transform: translateZ(200px) transLateY(40px);
    }

    80% {
        transform: translateZ(-10px) transLateY(0px);
    }

    100% {
        transform: translateZ(0px) transLateY(0px);
    }
}

@-o-keyframes downOut {
    0% {
        transform: translateZ(200px) transLateY(40px);
    }

    80% {
        transform: translateZ(-10px) transLateY(0px);
    }

    100% {
        transform: translateZ(0px) transLateY(0px);
    }
}

@keyframes downOut {
    0% {
        transform: translateZ(200px) transLateY(40px);
    }

    80% {
        transform: translateZ(-30px) transLateY(0px);
    }

    100% {
        transform: translateZ(0px) transLateY(0px);
    }
}

@keyframes growDown {
  0% {
      opacity: 0;
      transform: rotateX(-90deg);
  }

  50% {
      transform: rotateX(-20deg);
  }

  100% {
      opacity: 1;
      transform: rotateX(0deg);
  }
}